p {
    margin: 0;
}

.Card {
    background: white;
    border-radius: 10px;
}

.Card__img {
    text-align: center;
}

.Card__types {
    display: flex;
    justify-content: center;    
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card__info {
    margin-left: 10px;
}

.Card__data {
    padding-bottom: 10px;
}

.text {
    font-weight: 700;
    text-transform:capitalize;
}
.box-size{
width: 300px;
display: block;
    margin-left: auto;
    margin-right: auto;
}
.center{
text-align: center;
}
.img-card{
width: 50%;
}