.Navbar {
    text-align: center;
    padding: 20px;
    background:lightblue;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin-bottom: 2%;
}
.open{
   
  
    color: black;
    margin-right:10px ;
}
.close{
   
  
    margin-right:10px ;
    color: red;
    
}
.search{
    color: black;

}
.search_button{
    margin-top: 35px;
}