.center {
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;

  padding: 10px;
}
.name_pokemon {
  text-align: left;
  text-transform: capitalize;
  font-weight: 800;
}
.name_pokemon_center{
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 24px;
}
.box-size {
  width: 300;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box-card {
  width: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-s {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.size-s {
    width: 100%;
   
  }
  .size-s img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .s-center{
    text-align: center;
 
  }
  .center-1{

font-size:50px;
text-align: center;
margin-left: auto;
margin-right: auto;
  }
  .count{
    font-size: 25px;
    font-weight: 700;
  }
 .deck{
  text-align:center;
  font-size: 20px;
  color: black;
  width: 30px;


 }